<div
  class="flex gap-4 text-xl w-100 h-16 justify-center items-center bg-slate-200 p-2"
>
  @if(authSvc.currentUserSig() === null) {
  <a routerLink="/login" class="cursor-pointer hover:underline">Login</a>
  <a routerLink="/register" class="cursor-pointer hover:underline">Register</a>
  } @if(authSvc.currentUserSig()) {
  <span class="cursor-pointer hover:font-bold" (click)="onLogout()">Logout</span>
  <span>{{ authSvc.currentUserSig()?.email }}</span>
  }
</div>
<main class="flex flex-col gap-8 items-center w-screen h-screen dark">
  <router-outlet />
</main>
