<h1 class="text-2xl font-semibold">Register</h1>
<form class="flex flex-col gap-8 w-80" [formGroup]="form" (submit)="onSubmit()">
  <input type="text" hlmInput placeholder="Username" formControlName="username" />
  <input type="email" hlmInput placeholder="Email" formControlName="email" />
  <input
    type="password"
    hlmInput
    placeholder="Password"
    formControlName="password"
  />
  <input
    type="submit"
    hlmInput
    class="cursor-pointer bg-sky-900 text-white outline-none hover:outline-sky-400"
    value="Submit"
  />
</form>

